body{
    height: 100vh;
    display: grid;
    gap: 10px;

    grid-template-areas: 
    "header header header header header header"
    "aside article main main main nav"
    "footer section main main main nav"
    "footer div1 div2 div3 div4 div4"
    ;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
}
body> *{
    background-color:green;
}
header {
    grid-area: header;
    background-color:green;
}
section{
    grid-area: section;
    background-color: green;
}
article{
    grid-area: article;
    background-color:green;
}
div{
    grid-area: div;
    background-color: brown;
}
main{
    grid-area: main;
    background-color: red;
}
nav{
    grid-area: nav;
    background-color: blue;
}
aside{
    grid-area: aside;
    background-color: blue;
}
footer{
    grid-area: footer;
    background-color:blue;
}
div:nth-child(8){
    grid-area: div1;
    background-color: red;
}
div:nth-child(9){
    grid-area: div2;
    background-color:red;
}
div:nth-child(10){
    grid-area: div3;
    background-color:red ;
}
div:nth-child(11){
    grid-area: div4;
    background-color:green;
}